---
#
# {{ managed }}
#

##
# Sensu backend configuration
##
{# -------------------------------------- #}
{% if backend_debug %}
debug: {{ backend_debug }}
{% endif %}
{# -------------------------------------- #}
{% if backend_log_level %}
log-level: {{ backend_log_level }}
{% endif %}
{# -------------------------------------- #}
state-dir: "/var/lib/sensu/sensu-backend"
{# -------------------------------------- #}
