---
- name: Start sensu-agent (Linux)
  ansible.builtin.systemd:
    name: sensu-agent
    state: started
    enabled: true
  when: ansible_facts.os_family != "Windows"

- name: Start sensu-agent (Windows)
  action:
    module: ansible.windows.win_service
    name: SensuAgent
    path: C:\Program Files\sensu\sensu-agent\bin\sensu-agent.exe service run
    state: started
  when: ansible_facts.os_family == "Windows"
