# This ansible.cfg is used only for local testing during development.
# It should not be included into final collection.
[defaults]
stdout_callback     = community.general.yaml
retry_files_enabled = False
forks               = 16
collections_paths = ../../../
# To test the inventory file: hypercore_inventory.yml
#[inventory]
#enable_plugins = scale_computing.hypercore.hypercore
