version: "2.1"

executors:
  python27:
    docker: [ { image: circleci/python:2.7 } ]
    environment: { PY: "2.7" }
  python37:
    docker: [ { image: circleci/python:3.7 } ]
    environment: { PY: "3.7" }

commands:
  common_setup:
    description: Common steps for all jobs
    steps:
      - checkout
      - run:
          name: Create virtual environment
          command: virtualenv ${HOME}/venv
      - run:
          name: Checkout the devel Ansible branch
          command: |
            git clone -b devel --depth 1 \
              https://github.com/ansible/ansible.git ${HOME}/ansible
      - run:
          name: Set environment variables
          command: |
            echo 'PATH=${HOME}/ansible/bin:${HOME}/venv/bin:$PATH' >> $BASH_ENV
            echo 'PYTHONPATH=${HOME}/ansible/lib' >> $BASH_ENV
            echo 'MANPATH=/tmp/man' >> $BASH_ENV
            echo 'export PATH PYTHONPATH MANPATH' >> $BASH_ENV
      - run:
          name: Install Ansible and core dependencies
          command: pip install -r ${HOME}/ansible/requirements.txt
      - run:
          name: Build sensu_go collection
          command: ansible-galaxy collection build
      - run:
          name: Install sensu_go collection
          command: |
            ansible-galaxy collection install \
              -p ${HOME}/.ansible/collections \
              sensu-sensu_go-*.tar.gz

  run_test:
    description: Run selected test
    parameters:
      kind:
        description: Kind of tests to run
        type: enum
        enum: [ sanity, units, integration ]
      args:
        description: Arguments for this invocation
        type: string
        default: ""
    steps:
      - run:
          name: Run test
          command: |
            cd ${HOME}/.ansible/collections/ansible_collections/sensu/sensu_go
            ansible-test << parameters.kind >> \
              --python ${PY} \
              --requirements \
              << parameters.args >>

  report_coverage:
    description: Report coverage
    steps:
      - run:
          name: Report coverage to console
          command: |
            cd ${HOME}/.ansible/collections/ansible_collections/sensu/sensu_go
            ansible-test coverage report --all

jobs:
  sanity:
    executor: python37
    steps:
      - common_setup
      - run_test:
          kind: sanity
          args: --test pep8

  unit_test_python27:
    executor: python27
    steps:
      - common_setup
      - run_test:
          kind: units
          args: --verbose --coverage
      - report_coverage: {}

  unit_test_python37:
    executor: python37
    steps:
      - common_setup
      - run_test:
          kind: units
          args: --verbose --coverage
      - report_coverage: {}

  integration_modules:
    executor: python37
    steps:
      - common_setup
      - setup_remote_docker
      - run:
          name: Install molecule
          command: pip install -r ./requirements-dev.txt
      - run:
          name: Integration Tests (modules)
          command: |
            cd test/integration/modules
            molecule --base-config molecule/shared/base.yml test --all

workflows:
  version: 2
  main_workflow:
    jobs:
      - sanity
      - unit_test_python27
      - unit_test_python37
      - integration_modules
